front/.DS_STORE

front/.angular

front/dist/
front/bazel-out
front/integration/bazel/bazel-*
front/*.log
/front/node_modules

# CircleCI temporary file for cache key computation.
# See `save_month_to_file` in `.circleci/config.yml`.
front/month.txt

# Include when developing application packages.
front/pubspec.lock
front/.c9
front/.idea/
front/.devcontainer/*
front/!.devcontainer/README.md
front/!.devcontainer/recommended-devcontainer.json
front/!.devcontainer/recommended-Dockerfile
front/.settings/
front/.vscode/launch.json
front/.vscode/settings.json
front/.vscode/tasks.json
front/*.swo
front/*.swp
front/modules/.settings
front/modules/.vscode
front/.vimrc
front/.nvimrc

# Don't check in secret files
front/*secret.js

# Ignore npm/yarn debug log
front/npm-debug.log
front/yarn-error.log

# build-analytics
front/.build-analytics

# rollup-test output
front/modules/rollup-test/dist/

# User specific bazel settings
front/.bazelrc.user

# User specific ng-dev settings
front/.ng-dev.user*

front/.notes.md
front/baseline.json

# Ignore .history for the xyz.local-history VSCode extension
front/.history

# Husky
front/.husky/_

# ============ Back ===================
# Logs
back/logs
back/*.log
back/npm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*
back/lerna-debug.log*
back/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
back/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
back/pids
back/*.pid
back/*.seed
back/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
back/lib-cov

# Coverage directory used by tools like istanbul
back/coverage
back/*.lcov

# nyc test coverage
back/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
back/.grunt

# Bower dependency directory (https://bower.io/)
back/bower_components

# node-waf configuration
back/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
back/build/Release

# Dependency directories
back/node_modules/
back/jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
back/web_modules/

# TypeScript cache
back/*.tsbuildinfo

# Optional npm cache directory
back/.npm

# Optional eslint cache
back/.eslintcache

# Optional stylelint cache
back/.stylelintcache

# Microbundle cache
back/.rpt2_cache/
back/.rts2_cache_cjs/
back/.rts2_cache_es/
back/.rts2_cache_umd/

# Optional REPL history
back/.node_repl_history

# Output of 'npm pack'
back/*.tgz

# Yarn Integrity file
back/.yarn-integrity

# dotenv environment variable files
back/.env
back/.env.development.local
back/.env.test.local
back/.env.production.local
back/.env.local

# parcel-bundler cache (https://parceljs.org/)
back/.cache
back/.parcel-cache

# Next.js build output
back/.next
back/out

# Nuxt.js build / generate output
back/.nuxt
back/dist

# Gatsby files
back/.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
back/.vuepress/dist

# vuepress v2.x temp and cache directory
back/.temp
back/.cache

# Docusaurus cache and generated files
back/.docusaurus

# Serverless directories
back/.serverless/

# FuseBox cache
back/.fusebox/

# DynamoDB Local files
back/.dynamodb/

# TernJS port file
back/.tern-port

# Stores VSCode versions used for testing VSCode extensions
back/.vscode-test

# yarn v2
back/.yarn/cache
back/.yarn/unplugged
back/.yarn/build-state.yml
back/.yarn/install-state.gz
back/.pnp.*

back/build

back/keys.ts